* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #d3d3d3;
  text-align: center;
}

#logo {
  width: 233px;
  height: 150px;
  float: left;
  margin-top: 3px;
}

img {
  border: 10px solid gray;
}


#area-logo {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  margin-top: 10px;
}

#area-menu {
  margin-top: 20px;
  font-size: 15px;
  padding: 10px;
}

#area-logo, #area-menu {
  padding: 10px;
}

#conteudo {
  margin: 0;
  padding: 15px;
}

body{
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 1em;
  background: #F8F8FF;
  padding: 20px;
}

#descricao, #mercado, #etapas, #ead, #objetivos, #vestibular {
  padding: 15px;
  text-align: justify;
  line-height: 35px;
}

h1 {
  color: gray; 
}

h3 {
  color:brown;
}

a {
  text-decoration: none;
  color: brown;
}

a:hover {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

ul, ol {
  padding: 50px;
}